# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/scripts/y_sql_functions.py
/1_data_raw/
/1a_to_integrate/
/2_data_out/